//  Colors
$color-blue: #1273EA;
$color-blue-light: #8DC9F9;
$color-white: #ffffff;
$color-light: #F7F9FC;
$color-grey: #C5CEE0;
$color-dark: #57627B;
$color-body:#151A30; 
$color-gradient-blue: linear-gradient(to right, #1273ea, #1c94f4);

// Sizes
$type-size-large: 32px;
$type-size-body: 14px;
$type-size-small: 12px;
$type-size-caption: 10px;

//  Font weight
$type-font-bold: 600;
$type-font-extra-bold: 700;

//  Font
$type-font-body: -apple-system, BlinkMacSystemFont, sans-serif;


// Radius
$radius-sm: 8px;
$radius-md: 16px;

//  Spacing
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 16px;
$space-md: 32px;

// Line height
$line-height-body: 20px;